<div class="page-header">
    <h1>Családi TODO</h1>
</div>

<p>
    Bejelentkezés szükséges a családi TODO megtekintéséhez! <br />
    <button {{action "showModal" "login-modal" "login"}} class="btn btn-default">Bejelentkezés</button>
</p>